.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px 48px;
  background-color: white;
  box-shadow: 0 0px 2px 0 rgb(0 0 0 / 0.1);
}

.dropdown {
  position: absolute;
  left: 40px;
  top: 60px;
  z-index: 100000;
  padding: 14px 20px;
  width: 280px;
  background-color: #f9fafb;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777777;
  font-weight: 500;
  font-size: 14px;
}

.row:not(:last-child) {
  margin-bottom: 12px;
}
